.login {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  width: 100%;

  div {
    padding: 0px;
    padding-left: 5px;
    max-width: 250px;
  }

  img.avatar {
    padding: 5px;
    width: 60px;
    border-radius: 50%;
  }

  p {
    font-size: 15px;
  }

  .sign_out {
    margin-left: 10px;
    width: 35px;
    cursor: pointer;
    border: none;

    &:hover {
      border-radius: 50%;
      width: 36px;
      box-shadow: 0px 0px 6px 3px #999999;
    }
  }

  .sign_out_tooltip {
    margin: 0;
    padding: 0;
    width: 80px;
    text-align: center;
  }
}
