.text-prefix-icon {
  display: flex;
  flex-direction: row;

  color: #e74c3c;
  font-size: 0.9rem;
  padding: 6px 5px 0px 0px;

  &__icon {
    padding: 0.2px 5px 0px 0px;
  }

  p {
    margin: 0;
  }
}
