.input-field {
  input {
    &::placeholder {
      color: #6c757d;
      opacity: 1;
    }

    &.--error {
      color: #495057;
      background-color: #fff;
      border-color: #a9bcee;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.25);
    }
  }
}
